<!doctype html>
<html lang="en">
  <head>
    <meta content-type="application/xhtml+xml" charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- <script src="https://rawgithub.com/creativecouple/jquery-timing/master/jquery-timing.min.js"></script> -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>

    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" />

    <script>
    // Viewport Sizing

      $(document).ready(function(e) {
        showViewportSize();    
      });
      $(window).resize(function(e) {
        showViewportSize();
      });
      function showViewportSize() {
        var the_width = $(window).width();
        var the_height = $(window).height();

        $('#width').text(the_width);
        $('#height').text(the_height);
      }
    </script>

    <style>
      .window-size { 
        background: #FCFCFC;
        box-shadow: inset 0 0 4px 0 rgba(0,0,0,.08);
        color: #555;
        position: absolute;
        bottom: 0; 
        padding: 10px 20px;
        width: 100%;
        z-index: 10;
      }

      .window-size .width,
      .window-size .height { 
        float: left;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        width: 50%;
      }
    </style>

    <script>
      $(document).ready(function() {

        // function noHover() {
        //  return this.is(':hover') ? this.wait('mouseleave') : this
        // }

        // $(".swap").repeat().each($).fadeIn($).wait(3000).wait(noHover).fadeOut($);
        
      });
    </script>
    
  </head>
  <body>

    <!-- <div class="window-size">
      <span class="width">W: <strong id="width">(width)</strong></span>

      <span class="height">H: <strong id="height">(height)</strong></span>
    </div> -->

    <header>
      <div class="logo">
        <h1>Compartment</h1>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="15" height="16.5" viewBox="0" xml:space="preserve"><path d="M7.5 0L0 4.1v8.2l7.5 4.1 7.5-4.1V4.1L7.5 0zM8 1.4l5.5 3L8 7.3V1.4zM7 7.3L1.5 4.4 7 1.4V7.3zM6.5 8.2L1 11.1V5.2L6.5 8.2zM7 9v5.9l-5.5-3L7 9zM8 9l5.5 3L8 15V9zM8.5 8.2L14 5.2v5.9L8.5 8.2z"/></svg>
      </div>
    </header>

    {{ content }}
    
  </body>
</html>
