<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transparent">
    <title>{{ page.title }}</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <header>
      <div class="logo">
        <h1>Compartment</h1>
        {% include svg-logo-cube.html %}
      </div>
    </header>

    {{ content }}
    
  </body>
</html>
